@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  min-height: 100vh;
  background-color: #0a0a0a;
  display: flex;
}

main {
  flex: 1;
  padding: 20px;
  margin-left: 245px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #131313;
  height: 100vh;
  border-radius: 0px 0px 18px;
  padding: 12px;
  width: 235px;
  min-width: 235px;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid #262626;
}

#user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
  margin-top: 20px;
}

#user_avatar {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

#user_info {
  display: flex;
  flex-direction: column;
  color: #eeeeee;
}

#user_info p:last-child {
  color: #be2a00;
  font-size: 12px;
}

#side-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.side-item {
  border-radius: 8px;
  padding: 14px;
  cursor: pointer;
}

.side-item.active {
  background-color: #ff310060;
}

.side-item:hover:not(.active),
#logout_btn:hover {
  background-color: #101010;
}

.side-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 14px;
  color: #bbbcbe;
}

.side-item.active a {
  color: #f24405;
}

.side-item a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 18px;
  flex-shrink: 0;
}

#logout {
  border-top: 1px solid #bbbcbe;
  padding: 12px;
}

#logout_btn {
  border: none;
  padding: 12px;
  font-size: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  justify-content: center;
  color: #bbbcbe;
}

#cabecalho h1 {
  color: #ffffff;
  font-size: 30px;
  margin-top: 12px;
}

#cabecalho > p {
  color: #3f3f41;
  margin-top: 10px;
  margin-bottom: 10px;
}

#cabecalho {
  border-bottom: 0.5px solid #262626;
}

#card {
  background-color: #161616;
  margin-top: 25px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  border: 1px solid #262626;
  position: relative;
  overflow: hidden;
}

#card::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -30px;
  width: 180px;
  height: 180px;
  background: radial-gradient(
    circle,
    rgba(255, 49, 0, 0.35) 0%,
    transparent 70%
  );
  filter: blur(12px);
  pointer-events: none;
  z-index: 0;
}

#cabecalho-card-saldo {
  display: flex;
  height: 60px;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  margin-top: 10px;
}

#cabecalho-card-saldo > i {
  color: #be2a00;
  margin-left: 40px;
  display: flex;
  font-size: 22px;
}

#cabecalho-card-saldo > h1 {
  color: #353536;
  font-size: 20px;
  display: flex;
}

#info-card-saldo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  margin-left: -150px;
  margin-top: 20px;
}

#info-card-saldo > h3 {
  font-size: 40px;
}

#cards-resumo {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

#card-receita {
  width: 400px;
  height: 180px;
  border-radius: 20px;
  background-color: #161616;
  border: 1px solid #262626;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

#card-receita::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -30px;
  width: 180px;
  height: 180px;
  background: radial-gradient(
    circle,
    rgba(61, 220, 132, 0.14) 0%,
    transparent 70%
  );
  filter: blur(12px);
  pointer-events: none;
  z-index: 0;
}

#cabecalho-card-receita {
  display: flex;
  height: 60px;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 25px;
  font-size: 14px;
  color: #353536;
}

#cabecalho-card-receita > i {
  font-size: 20px;
  color: #3ddc84;
}

#info-card-receita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  align-items: center;
  font-size: 30px;
}

#card-despesa {
  width: 400px;
  height: 180px;
  border-radius: 20px;
  background-color: #161616;
  border: 1px solid #262626;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

#card-despesa::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -30px;
  width: 180px;
  height: 180px;
  background: radial-gradient(
    circle,
    rgba(255, 77, 77, 0.35) 0%,
    transparent 70%
  );
  filter: blur(12px);
  pointer-events: none;
  z-index: 0;
}

#cabecalho-card-despesa {
  display: flex;
  height: 60px;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 25px;
  font-size: 14px;
  color: #353536;
}

#cabecalho-card-despesa > i {
  font-size: 20px;
  color: #ff4d4d;
}

#info-card-despesa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  align-items: center;
  font-size: 30px;
}

#btn-receita-despesa {
  margin-top: 50px;
  gap: 20px;
  display: flex;
}

#btn-receita {
  padding: 12px;
  border-radius: 8px;
  background-color: #3ddc84;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

#btn-receita:hover {
  background-color: #35c77a;
}

#btn-despesa {
  padding: 12px;
  border-radius: 8px;
  background-color: #ff3100;
  color: #ffffff;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

#btn-despesa:hover {
  background-color: #e60000;
}

#movimentacao {
  margin-top: 35px;
}

#titulo-movimentacao {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

#card-movimentacao {
  background-color: #161616;
  border: 1px solid #262626;
  border-radius: 20px;
  padding: 20px 15px;
}

#cabecalho-movimentacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#cabecalho-movimentacao > h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

#cabecalho-movimentacao > button {
  background-color: transparent;
  border: none;
  color: #e60000;
  font-size: 14px;
  cursor: pointer;
}

#cabecalho-movimentacao > button:hover {
  color: #ff3100;
}

#movimentacao-lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#movimentacao-item {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#movimentacao-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#movimentacao-item-info-tipo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
}

#circulo-receita {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3ddc84;
}

#circulo-despesa {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff3100;
}

#movimentacao-item-info-valor {
  display: grid;
  grid-template-columns: 90px 110px;
  align-items: center;
  gap: 30px;
}

#movimentacao-item-info-valor .data-movimentacao {
  color: #353536;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

#valor-receita-movimentacao {
  color: #3ddc84;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

#valor-despesa-movimentacao {
  color: #ff3100;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

/* TELA NOVA RECEITA E NOVA DESPESA */

#titulo-cabecalho {
  color: #ffffff;
  font-size: 20px;
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
}

#titulo-cabecalho > #btn-voltar {
  margin-top: 12px;
  font-size: 20px;
  color: #353536;
  background-color: transparent;
  border: 1px solid #262626;
  cursor: pointer;
  padding: 3px 7px;
  border-radius: 10px;
}

#subtitulo-cabecalho {
  color: #3f3f41;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 47px;
}

#card-nova-receita-despesa {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 140px);
}

#form-receita-despesa {
  display: flex;
  justify-content: center;
  background-color: #161616;
  width: 40%;
  height: 500px;
  border-radius: 20px;
  border: 1px solid #262626;
  padding-top: 24px;
  box-sizing: border-box;
}

#form-receita-despesa form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

#form-receita-despesa form input {
  width: 100%;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 8px;
  background-color: #101010;
  border: 1px solid #262626;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #eeeeee;
  outline: none;
}

#form-receita-despesa form input:focus {
  color: #3f3f41;
  border: 1px solid #353536;
}

#form-receita-despesa label {
  text-transform: uppercase;
  color: #3f3f41;
  font-weight: 500;
  text-align: left;
  margin-top: 5px;
}

#btn-form {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 100px;
}

#btn-cancelar {
  background-color: transparent;
  border: 1px solid #262626;
  padding: 12px;
  border-radius: 8px;
  color: #79797a;
}

#btn-salvar-receita {
  background-color: #3ddc84;
  padding: 12px;
  border-radius: 8px;
  color: #000000;
  border: none;
}

#btn-salvar-despesa {
  background-color: #ff3100;
  padding: 12px;
  border-radius: 8px;
  color: #000000;
  border: none;
}

/* TELA MOVIMENTAÇÃO */

#botoes-filtro {
  display: flex;
  gap: 14px;
  margin-bottom: 14px;
}

#botoes-filtro > button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #262626;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

#botoes-filtro > button.active {
  background-color: #f24405;
}

#botoes-filtro > button:hover:not(.active) {
  background-color: #101010;
}
